.project-images {
    /* position: relative; */
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.project_video {
    margin-bottom: 30px;
    /* box-shadow: 0 1.5rem 4rem rgba(black, .4); */
    /* position: absolute; */
    /* z-index: 10; */
    /* transition: all .2s; */
    /* outline-offset: 2rem; */
}